<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Event</title>
</head>
<body>
    <h2>v-for 활용</h2>
    <div id="app">
        <ul>
            <li v-for="item in myArray">{{item}}</li>
            <li v-for="item in objArray">{{item.name}} / {{item.price}}</li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            myArray:['쨈빵','멜론빵','크로와상'],
            objArray:[
                {name:'쨈빵',price:1000},
                {name:'멜론빵',price:1200},
                {name:'크로와상',price:1500}
            ]
        }
    })
</script>
</html>