<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
    <title></title>
</head>
<body>
    <h2></h2>
    <div id="app">
        <input v-model="findWord" type="text">
        <ul>
            <li v-for="item in findItems">{{item}}</li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            findWord:'',
            items:['서울시','인천시','부산광역시','대구광역', '제주']
        },
        computed:{
            findItems:function(){
                if(this.findWord){
                    return this.items.filter(function(value){
                    return (value.indexOf(this.findWord)>-1);},this);
                }
                else{
                    //공백일때 리스트를 그대로 반환
                    return this.items;
                }
            }
        }
    })
</script>
</html>